<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Панель администратора</title>
</head>
<body>
<h1 style="text-align: center">Панель администратора</h1>
<hr>
<table class="table table-hover table-dark">
    <tr>
        <th>Email</th>
        <th>Номер телефона</th>
        <th>Активность</th>
        <th>Роли</th>
        <th>Бан</th>
        <th>Редактирование</th>
        <th>Подробная информация</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.email}">Email</td>
        <td th:text="${user.phoneNumber}">Phone</td>
        <td th:text="${user.active ? 'true' : 'false'}">Active</td>
        <td>
            <ul>
                <li th:each="role : ${user.roles}" th:text="${role}">Role</li>
            </ul>
        </td>
        <td>
            <form th:action="@{/admin/user/ban/{id}(id=${user.id})}" method="post">
                <input type="hidden" th:name="_csrf" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-light">Бан</button>
            </form>
        </td>
        <td>
            <a th:href="@{/admin/user/edit/{id}(id=${user.id})}">Редактирование</a>
        </td>
        <td>
            <a th:href="@{/user/{id}(id=${user.id})}">Подробная информация</a>
        </td>
    </tr>
</table>
</body>
</html>
